.header{
  background-image: url(images/h_img.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 100px;
  color: white;
}
.about{
  text-align: center;
  padding: 70px;
}
.services{
  background-image: url(images/l_image.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  padding: 80px;
}
.whatwedo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  
}
h4{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.pwhatwedo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.pwhatwedo>p{
  position: relative;
  left: 40px;
}
.portfolio>h5{
  padding: 20px;
  text-align: center;
  font-size: xx-large;

}
.imagesportfolio1{
padding-bottom: 20px;
padding-left: 80px;
padding-right: 80px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;

  
}
.imagesportfolio1>img{
  width: 280px;
  height: max-content;
}
.contact{
  background-image: url(images/t_image.jpg);
  background-size: cover;
  color: white;
}
h6{
  text-align: center;
}
#message{
  border: 1px solid white;
  height: 300px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 80px;
}
