.header{
  background-image: url(images/h_img.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 100px;
  color: white;
}
.about{
  text-align: center;
  padding: 70px;
}
.services{
  background-image: url(images/l_image.jpg);
}