.header{
  background-image: url(images/h_img.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 100px;
  color: white;
}
.about{
  text-align: center;
  padding: 70px;
}
.services{
  background-image: url(images/l_image.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  padding: 80px;
}
.whatwedo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  
}
h4{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.pwhatwedo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.portfolio>h5{
  padding: 20px;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;

}
.imagesportfolio1{
padding-bottom: 20px;
padding-left: 80px;
padding-right: 80px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;

  
}
.imagesportfolio1>img{
  width: 280px;
  height: max-content;
}
.contact{
  background-image: url(images/t_image.jpg);
  background-size: cover;
  color: white;
  margin-top: 20px;
}
h6{
  text-align: center;
  font-size: xx-large;
  padding-top: 50px;
}
#message{
  border: 1px solid white;
  height: 300px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 40px;
}
.footer{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#button{
  padding-bottom: 30px;
  padding-top: 20px;
  position: relative;
  left: 300px;
}
#div1{
  display: none;
}
#div2{
  display: none;
}
#div3{
  display:none ;
}
.firstp{
  text-align: center;
  font-size: small;
}
.secondp{
  text-align: center;
  font-size: small;
}
h2{
  text-align: center;
  font-size: larger;
}
.project1 {
display: none;
}
.project2 {
  display: none;
  }
  .project3 {
    display: none;
    }
    .project4 {
      display: none;
      }
      .project5 {
        display: none;
        } 
        .project6 {
          display: none;
          }
          .project7 {
            display: none;
            }.project8 {
              display: none;
              }        
